<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogToConsole="true" internalLogLevel="Warn">

  <extensions>
    <add assembly="NLog.Extensions"/>
  </extensions>
  <targets>
    <target name="console" xsi:type="AsyncWrapper" parallelWrite="true">
      <target xsi:type="ExceptionUnwrapper" unwrapExceptions="UnhandledException,HttpUnhandleException">
        <target xsi:type="Console" 
                layout="${exception:format=Method:findApplicationMethod=true}" />
      </target>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>